@import "../bower_components/foundation/scss/foundation/functions";
@import "settings";

/* Footer
------------------------------------------------------------------- */

#footer {

  background: $theme-footer-background;
  color: $theme-footer-color;

  padding: rem-calc(16) rem-calc(8);
  text-align: center;

  i {
    font-size: rem-calc(100);
  }

  h4 {
    color: $theme-footer-color;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 10px;

    letter-spacing: 1px;
  }

  p {
    font-weight: 300;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 40.063em) {
  #footer {
    .columns:nth-child(n+2) {
      border-left: 1px solid $theme-darkgray;
      min-height: 180px;
    }
  }
}

.footer-links {
  list-style-type: none;
  margin-left: 0;
  a {
    color: $theme-footer-link-color;
    font-weight: 300;
    font-size: .8rem;

    &:hover {
      color: $theme-footer-color-hover;
    }
  }
  li {
    margin-top: .5rem;
  }
}

#github-activity {
  text-align: left;

  font-size: rem-calc(10px);
  font-family: $font-family-monospace;
  color: #fff;

  background-color: $theme-footer-background !important;

  time {
    font-style: italic;
    font-family: $body-font-family;
    font-size: rem-calc(13px);
    color: $grey-6;
  }

  a {
    color: $theme-footer-color;
    font-style: italic;

    &:hover {
      color: $theme-footer-color-hover;
      text-decoration: underline;
    }
  }

  ul#commits {
    margin: 0 0 0 20px;
    padding: 0;

    li {
      font-size: rem-calc(9px);


      span.sha a {
        color: $theme-orange;
        font-weight: $font-weight-bold;
      }
    }
  }
}

/* Subfooter
------------------------------------------------------------------- */

#subfooter {
  background: $theme-subfooter-background;
  color: lighten($theme-subfooter-color, 20%);
  padding-top: 10px;
  padding-bottom: 10px;

  section p {
    margin-bottom: 0;
    margin-top: 6px;
    font-family: "Rock Salt";
    font-size: rem-calc(10px);
  }

  .credits a {
    color: $theme-subfooter-link-color;
    border: 0;
    &:hover {
      color: #fff;
    }
  }

  #subfooter-right ul.inline-list {
    @extend .right;

    margin-bottom: 0;
  }

  .social-icons {
    li {
      margin-left: rem-calc(10px);
    }
    li a {
      font-size: rem-calc(30);
      display: block;
      color: $theme-subfooter-color;
      text-align: center;

      &:hover {
        color: $theme-subfooter-color-hover;
      }
    }
  }
}
