@import "../bower_components/foundation/scss/foundation/functions";
@import "../bower_components/foundation/scss/foundation/components/global";
@import "settings";

/* Footer
------------------------------------------------------------------- */

#footer {

  background: $theme-footer-background;
  color: $theme-footer-color;

  padding: $spacing-unit 8px;
  text-align: center;

  i { font-size: 100px; }

  h4 {
    color: $theme-footer-color;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 10px;

    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 40.063em) {
  #footer {
    .columns:nth-child(n+2) {
      border-left: 1px solid $theme-darkgray;
      min-height: 300px;
    }
  }
}

/* Github activity
------------------------------------------------------------------- */
$social-activity-font-size: 13px;
$social-activity-color: $theme-footer-color;

.social-activity {
  @extend .small-12, .medium-6, .large-6, .columns;

  .social-activity-content {
    text-align: left;

    font-size: $social-activity-font-size;
    color: $social-activity-color;

    margin: 0 $spacing-unit/3 0 $spacing-unit/3;

    time {
      @extend %timeinfo;

      display: block;
      text-align: right;
      margin-right: $social-activity-font-size + 1;
      font-size: $social-activity-font-size + 1;
    }

    a {
      color: $social-activity-color;
      font-style: italic;

      &:hover, &:active, &:visited {
        color: $social-activity-color;
        text-decoration: underline;
      }
    }

    // For twitter
    .author {
      text-align: right;
      margin: 0 13px;

      a {
        font-weight: $font-weight-bold;
        font-style: italic;
      }
    }

    .tweet {
      font-size: $social-activity-font-size;
      overflow-x: hidden;
    }

    // For github
    .prompt {
      font-weight: $font-weight-bold;
    }

    ul#commits {
      margin: 0;
      padding: 0;

      li {
        font-size: $social-activity-font-size;
        list-style: none;

        span.sha a {
          font-weight: $font-weight-bold;
          margin-right: $social-activity-font-size / 2;
        }
      }
    }
  }
}

/* Subfooter
------------------------------------------------------------------- */

#subfooter {
  background: $theme-subfooter-background;
  color: lighten($theme-subfooter-color, 20%);
  padding-top: 10px;
  padding-bottom: 10px;

  section p {
    margin-bottom: 0;
    margin-top: 6px;
    font-family: "Rock Salt";
    font-size: rem-calc(10px);
  }

  .credits a {
    color: $theme-subfooter-link-color;
    border: 0;
    &:hover {
      color: #fff;
    }
  }

  #subfooter-right ul.inline-list {
    @extend .right;

    margin-bottom: 0;
  }

  .social-icons {
    li {
      margin-left: rem-calc(10px);
    }
    li a {
      font-size: rem-calc(30);
      display: block;
      color: $theme-subfooter-color;
      text-align: center;

      &:hover {
        color: $theme-subfooter-color-hover;
      }
    }
  }
}

@media #{$small-only} {
  #subfooter {
    .created-by {
      margin-bottom: $spacing-unit;
    }
  }
}
