@import "colors.settings";
@import "settings";
@import "../bower_components/foundation/scss/foundation/functions";

/* Navigation
------------------------------------------------------------------- */

#navigation {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    border-top: 5px solid $grey-color-dark;

    a:hover {
        text-decoration: none;
    }
}


/* Jump to top
------------------------------------------------------------------- */
$up-to-top-icon-size: rem-calc(20);

#up-to-top {
    position: fixed;
    bottom: 4px;
    right: 2%;
    z-index: 100;

    vertical-align: baseline;
    a {
        display: block;

        font-size: $up-to-top-icon-size;
        color: $theme-orange;

        height: $up-to-top-icon-size * 2;
        width: $up-to-top-icon-size * 2;
        padding: 4px 0;
        border-radius: 50%;
        @extend .text-center;

        &:hover {
            background: transparentize($theme-orange, 0.7);
            color: $theme-darkgray;
        }
    }
}

/* Footer
------------------------------------------------------------------- */
#footer-content {
    p, li {
        font-size: rem-calc(13);
        font-weight: 300;
    }
}

#footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: $theme-footer-background;
    color: $theme-footer-color;

    a {
        color: $theme-footer-link-color;
    }

    h4, h5 {
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }
}

/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    background: $theme-subfooter-background;
    color: lighten($theme-subfooter-color, 20%);
    padding-top: 10px;
    padding-bottom: 10px;

    section p {
        margin-bottom: 0;
        margin-top: 6px;
        font-family: "Rock Salt";
        font-size: rem-calc(10px);
    }

    .credits a {
        color: $theme-subfooter-link-color;
        border: 0;
        &:hover {
            color: #fff;
        }
    }

    #subfooter-right ul.inline-list {
        @extend .right;

        margin-bottom: 0;
    }

    .social-icons {
        li {
            margin-left: rem-calc(10px);
        }
        li a {
            font-size: rem-calc(30);
            display: block;
            color: $theme-subfooter-color;
            text-align: center;

            &:hover {
                color: $theme-subfooter-color-hover;
            }
        }
    }

}



/* Site footer

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
------------------------------------------------------------------- */



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*1.5 0;
}

.page-heading {
    font-size: rem-calc(44);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
