@import "colors.settings";
@import "settings";
@import "../bower_components/foundation/scss/foundation/functions";

/* Masthead
------------------------------------------------------------------- */
@import "masthead";

/* Navigation
------------------------------------------------------------------- */
@import "navigation";

/* Main height
------------------------------------------------------------------- */
main {
  min-height: 100%;
}

/* Comments
------------------------------------------------------------------- */
#comments {
  margin-top: 60px !important;
}

/* Jump to top
------------------------------------------------------------------- */
$up-to-top-icon-size: rem-calc(20);

#up-to-top {
  position: fixed;
  bottom: 4px;
  right: 2%;
  z-index: 100;

  vertical-align: baseline;
  a {
    display: block;

    font-size: $up-to-top-icon-size;
    color: $theme-orange;

    height: $up-to-top-icon-size * 2;
    width: $up-to-top-icon-size * 2;
    padding: 4px 0;
    border-radius: 50%;
    @extend .text-center;

    &:hover {
      background: transparentize($theme-orange, 0.7);
      color: $theme-darkgray;
    }
  }
}

/* Text images
------------------------------------------------------------------- */
$paragraph-image-padding: 10px;

img.paragraph-image {

  &.left {
    margin-top: 4px;
    margin-right: $paragraph-image-padding;
  }

  &.right {
    margin-top: 4px;
    margin-left: $paragraph-image-padding;
  }
}

/* Footer
------------------------------------------------------------------- */
@import "footer";

/* Table of contents
------------------------------------------------------------------- */
#markdown-toc {
  @extend .hide-for-small-only;
  @extend .right;

  border: 1px solid darken(whitesmoke, 25%);
  background-color: whitesmoke;

  margin: 0 0 10px 20px;
  padding: 15px;

  ul {
    margin-left: 15px;
  }

  li {
    list-style: none;
    margin-left: 0px;

    font-size: 13px;
  }
}

/* Pages
------------------------------------------------------------------- */
@import "page";

/* Posts
------------------------------------------------------------------- */
@import "post";