@import "colors.settings";
@import "settings";
@import "../bower_components/foundation/scss/foundation/functions";
@import "../bower_components/motion-ui/motion-ui";

/* General
------------------------------------------------------------------- */
body, html {
  height: 100%;
}

/* Background
------------------------------------------------------------------- */
#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-backface-visibility: hidden;

  height: 100%;
  width: 100%;

  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  html.no-touch & {
    background-attachment: fixed !important;
  }

  @include transform-scale(1.01, 1.01);
  @include transition-all(.5s);
}

#background.blurred {
  @include filter-blur(2px);
}

/* Masthead
------------------------------------------------------------------- */
@import "masthead";

/* Navigation
------------------------------------------------------------------- */
@import "navigation";

/* Comments
------------------------------------------------------------------- */
#comments {
  margin-top: 60px !important;
}

/* Jump to top
------------------------------------------------------------------- */
$up-to-top-icon-size: rem-calc(20);

#up-to-top {
  position: fixed;
  bottom: 4px;
  right: 2%;
  z-index: 100;

  vertical-align: baseline;
  a {
    display: block;

    font-size: $up-to-top-icon-size;
    color: $theme-orange;

    height: $up-to-top-icon-size * 2;
    width: $up-to-top-icon-size * 2;
    padding: 4px 0;
    border-radius: 50%;
    @extend .text-center;

    &:hover {
      background: transparentize($theme-orange, 0.7);
      color: $theme-darkgray;
    }
  }
}

/* Jump to content
------------------------------------------------------------------- */
$down-to-content-icon-size: 30px;

#down-to-content {
  width: 100%;
  text-align: center;

//  @include mui-animation(fade, spin, slide($direction: up, $amount: 120%));
//  @extend .spin-in;

  a {
    color: whitesmoke;
    font-weight: bold;
    font-size: $down-to-content-icon-size;
  }
}

/* Text images
------------------------------------------------------------------- */
$paragraph-image-padding: 13px;

img.paragraph-image {

  &.left {
    margin-top: 4px;
    margin-right: $paragraph-image-padding;
  }

  &.right {
    margin-top: 4px;
    margin-left: $paragraph-image-padding;
  }
}

/* Footer
------------------------------------------------------------------- */
@import "footer";

/* Table of contents
------------------------------------------------------------------- */
#markdown-toc {
  @extend .hide-for-small-only;
  @extend .right;

  border: 1px solid darken(whitesmoke, 25%);
  background-color: whitesmoke;

  margin: 0 0 10px 20px;
  padding: 15px;

  ul {
    margin-left: 15px;
  }

  li {
    list-style: none;
    margin-left: 0;

    font-size: 13px;
  }
}

/* Authoring
------------------------------------------------------------------- */
@import "foundation";

$avatar-height: 40px;
$avatar-width: $avatar-height;

.authoring {
  margin-bottom: $spacing-unit/2;

  .authoring-avatar {
    position: relative;
    display: inline-block;
    vertical-align: top;

    height: $avatar-height + 9;
    width: $avatar-width;

    img {
      position: absolute;
      top: 50%;
      margin-top: -($avatar-height/2);

      border-radius: $avatar-height/2;
    }
  }

  .authoring-info {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
  }

  .authoring-author {
    color: $primary-color;
    font-weight: $font-weight-bold;

    font-size: 14px;
    height: 16px;

    margin-top: 5px;
  }

  .authoring-time {
    @extend %timeinfo;
  }
}

/* Pages
------------------------------------------------------------------- */
@import "page";