@import "../_sass/mixins";

.masthead {
  padding: $spacing-unit*2 0 $spacing-unit/2;
  min-height: calc(30vh - 60px);
  width: 100%;

  display: flex;
  align-items: center;

  body.big & {
    min-height: calc(100vh - 60px);
  }

  .description {
    padding: 0 $spacing-unit;
    width: 100%;
    vertical-align: middle;

    h1 {
      font-size: 50px;
      font-weight: 400;
      text-align: center;
      color: #FFF;

      @include media-query(1200px)  { font-size: 45px; }
      @include media-query(768px)   { font-size: 30px; }
    }

    h2 {
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      margin-bottom: 0;
    }

    h3 {
      font-size: 22.8px;
      font-weight: 100;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 0;
    }

    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 38px;

      @include media-query(1200px) { font-size: 24.7px; }
      @include media-query(768px) { font-size: 19px; }
    }

    p.teaser {
      font-size: 18px;
      text-align: center;
    }

    .img-circle {
      display: block;
      width: 100px;
      margin: 0 auto 20px;
    }
  }
}
