@import "../_sass/mixins";

.masthead {
  position: relative;
  z-index: 0;

  padding: 150px 0 100px;
  width: 100%;

  display: table;
  background: black;

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    min-height: 100%;
    min-width: 100%;

    display: block;
    opacity: 0;
    background-image: linear-gradient(transparent, black);
  }

  .content-background {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    min-height: 100%;
    min-width: 100%;

    display: block;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    @include background-size(100% auto);
    @include media-query($xlarge-breakpoint)  { @include background-size(2100px auto); }
    @include media-query($large-breakpoint)   { @include background-size(1600px auto); }
    @include media-query($medium-breakpoint)  { @include background-size(1300px auto); }
  }

  .description {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;

    h1 {
      font-size: 50px;
      font-weight: 400;
      text-align: center;
      color: #FFF;

      @include media-query(1200px)  { font-size: 40px; }
      @include media-query(768px)   { font-size: 26px; }
    }

    h2 {
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      margin-bottom: 0;
    }

    h3 {
      font-size: 22.8px;
      font-weight: 100;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 0;
    }

    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 38px;

      @include media-query(1200px) { font-size: 24.7px; }
      @include media-query(768px) { font-size: 19px; }
    }

    p.teaser {
      font-size: 18px;
      text-align: center;
    }

    .img-circle {
      display: block;
      width: 100px;
      margin: 0 auto 20px;
    }
  }
}
