// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Using background transitions
// @include transition-background(1s);
@mixin transition-background($duration: .5s) {
  -webkit-transition: background $duration ease-out;
  -moz-transition: background $duration ease-out;
  -ms-transition: background $duration ease-out;
  -o-transition: background $duration ease-out;
  transition: background $duration ease-out;
}

// Using all transitions
// @include transition-all(1s);
@mixin transition-all($duration: .5s) {
  -webkit-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -ms-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}


// Using background size
// @include background-size();
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin filter-blur($size: 5px) {

  -webkit-filter: blur($size);
  -moz-filter: blur($size);
  -ms-filter: blur($size);
  -o-filter: blur($size);
  filter: blur($size);
}