#navigation {
  //  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
  //  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-top: 5px solid $grey-color-dark;

  a:hover {
    text-decoration: none;
  }

  &.transparent {
//    background-color: transparent;
    position: fixed;
    z-index: 1;

    &.transparent * {
//      background-color: transparent;
    }

    .top-bar .divider {
//      border-color: transparent;
    }
  }

  &.opaque {
    opacity: .97;
    background-color: $theme-orange;
  }
}

body.f-topbar-fixed {
  padding-top: 0;
}