#navigation {
  border-top: 5px solid $grey-color-dark;

  a:hover {
    text-decoration: none;
  }

  &.transparent {
    position: fixed;
    z-index: 1;
  }

  &.opaque {
    background-color: $theme-orange;

    .top-bar {
      ul li {
        &.active a {
          background-color: $grey-color-dark;
        }
        & a:hover, & a:active {
          background-color: $theme-darkgray;
        }
      }

      .divider {
        border-color: lighten($theme-orange, 5%);
      }
    }
  }
}

body.f-topbar-fixed {
  padding-top: 0;
}