
/* Tweaks for spectrum polyfill:  https://github.com/bgrins/spectrum */
.sp-preview {
  width: 30px;
  height: 27px;
}
.sp-dd {
  line-height: 25px;
}
.sp-replacer {
  background: #fafafa;
  border-color: #ccc;
}