@import "colors.settings";
@import "settings";

.twitter-timeline {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tweet {
    background-color: transparent;
    color: $theme-footer-color;
  }
  .interact {
    display: none;
  }
}

@mixin clearfix {

  &:after {

    content: "";
    display: table;
    clear: both;
  }
}

// Common styles

%awesome {

  font-family: 'Fontawesome';
  -webkit-font-smoothing: antialiased;
}

.twitter-timeline {

  position: relative;

  &:before, &:after {

    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:before {

    right: 100%;
  }
  &:after {

    left: 100%;
  }
}

#twitter-last-tweet {
  font-size: 12px;
  text-align: justify;

  li {
    position: relative;
    margin: 0 auto;
  }

  a {
    color: $theme-footer-link-color;
    text-decoration: none;

    &:hover, &:active, &:visited {
      color: $theme-footer-link-color;
    }
  }

  // Top section: image + user
  .author {
    text-align: right;
    margin: 0 13px;
    
    a {
//      color: $grey-6;
      font-weight: $font-weight-bold;
      font-style: italic;
    }
  }

  // Tweet content
  .tweet {
    margin: 0 13px;

    a {
      text-decoration: none;
    }

    a[data-scribe="element:url"] {
      color: $theme-footer-link-color;
    }

    a[data-scribe="element:hashtag"] {
      color: $theme-footer-link-color;
    }
  }

  // Buttons - footer
  //	.interact {
  //
  //		margin: 0;
  //		padding: 0;
  //		position: relative;
  //		background: #04C6C4;
  //		border-radius: 0px 0px 6px 6px;
  //		border-top: 1px solid darken(#04C6C4, 5%);
  //
  //		a {
  //
  //			padding: 15px 0;
  //			text-decoration: none;
  //			color: #fff;
  //			background: #04C6C4;
  //			&:hover {
  //
  //				color: lighten(black, 30%);
  //				background: darken(#04C6C4, 2%);
  //            }
  //			&:active {
  //
  //				box-shadow: inset 0px 0px 10px -4px rgba(0,0,0,0.75);
  //            }
  //			&:first-child {
  //
  //				border-radius: 0px 0px 0px 6px;
  //            }
  //			&:last-child {
  //
  //				border-radius: 0px 0px 6px 0px;
  //            }
  //        }
  //
  //
  //
  //
  //		.twitter_reply_icon, .twitter_fav_icon, .twitter_retweet_icon {
  //
  //			text-align: center;
  //			font-size: 0px;
  ////			width: calc(100% / 3);
  //			display: inline-block;
  //			&:before {
  //
  //				font-size: 22px;
  //				font-family: 'Fontawesome';
  //				-webkit-font-smoothing: antialiased;
  //				padding-right: 4px;
  //            }
  //        }
  //		.twitter_reply_icon {
  //
  //			&:before {
  //
  //				content: '\f112';
  //            }
  //        }
  //		.twitter_retweet_icon {
  //
  //			&:before {
  //
  //				content: '\f079';
  //            }
  //        }
  //		.twitter_fav_icon {
  //
  //			&:before {
  //
  //				content: '\f005';
  //            }
  //        }
  //    }

  // Posted ON formating
  .timePosted {
    color: $grey-6;
    display: block;
    font-family: $body-font-family;

//    margin: 0 0 10px;
//    padding: 0 20px;
    font-size: 12px;
    text-align: right;
    margin-right: 13px;

    a, a:hover, a:active, a:visited {
      color: $grey-6;
      font-style: italic;
      font-family: $body-font-family;
    }

    &:before {
      font-family: 'Fontawesome';
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      content: '\f017';
      padding-right: 4px;
    }
  }
}
