{% assign version= site.time | date_to_xmlschema %}
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png?v={{ version }}">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png?v={{ version }}">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v={{ version }}" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png?v={{ version }}" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v={{ version }}" sizes="16x16">
<link rel="manifest" href="/assets/images/favicon/manifest.json?v={{ version }}">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v={{ version }}" color="#e85a32">
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v={{ version }}">
<meta name="msapplication-TileColor" content="#e85a32">
<meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png?v={{ version }}">
<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v={{ version }}">
<meta name="theme-color" content="#e85a32">