<div id="footer">
    <div class="row" data-equalizer>
        <div class="social-activity" data-equalizer-watch>
            <i class="fa fa-code"></i>
            <h4><b>Github</b> activity</h4>

            <div id="github-last-push" class="social-activity-content">
                {% comment %} Github activity {% endcomment %}
            </div>
        </div>
        <div class="social-activity" data-equalizer-watch>
            <i class="fa fa-terminal"></i>
            <h4><b>Twitter</b> activity</h4>

            <div id="twitter-last-tweet" class="social-activity-content">
                {% comment %} Twitter activity {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div id="subfooter">
    <nav class="row">
        <section id="subfooter-left" class="small-12 medium-4 columns credits">
            <p class="created-by">
                /* Created by&nbsp;<a href="{{ site.data.authors[site.author].uri }}">{{ site.data.authors[site.author].name | replace: ' ', '&nbsp;' }}</a> */
            </p>
        </section>

        <section id="subfooter-right" class="small-10 medium-4 medium-offset-1 columns end social-icons">
            <ul class="inline-list">
                {% for social_item in site.data.socialmedia %}
                <li>
                    <a href="{{ social_item.url }}"
                       target="_blank"
                       class="{{ social_item.class }}"
                       title="{{ social_item.title }}"></a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <div id="up-to-top">
            <a href="#top-of-page"><i class="fa fa-chevron-up"></i></a>
        </div>
    </nav>
</div>
