<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.meta_title %}{{ page.meta_title }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

{% if page.meta_description %}
<meta name="description" content="{{ page.meta_description | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif page.teaser %}
<meta name="description" content="{{ page.teaser | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif site.description %}
<meta name="description" content="{{ site.description | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% endif %}

{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}

{% include favicon.html %}

<!-- Open Graph protocol: ogp.me -->
<meta property="og:locale" content="{% if page.language == 'es' %}es_ES{% else %}en_EN{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% endif %}" />
{% if page.meta_description %}<meta property="og:description" content="{{ page.meta_description | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif page.teaser %}
<meta property="og:description" content="{{ page.teaser | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% elsif site.description %}
<meta property="og:description" content="{{ site.description | strip_html | strip_newlines | escape | truncate: 160 }}"/>{% endif %}
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
{% if site.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
<meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}{{ site.baseurl }}{{ page.image.thumb }}{% elsif page.image.masthead %}{{ site.url }}{{ site.baseurl }}{{ page.image.masthead }}{% endif %}" />

<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}"/>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>

<script src="{{ '/assets/bower_components/modernizr/modernizr.js' | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Oleo+Script:700|Roboto:300,100,700|Fredericka+the+Great|Rock+Salt'
      rel='stylesheet'
      type='text/css'
      media="screen">

{% if page.noindex == true %}
<!-- Search Engine Optimization -->
<meta name="robots" content="noindex"/>{% endif %}

<link type="text/plain" rel="author" href="{{ site.url }}{{ site.baseurl }}/humans.txt"/>

<style>
      #background {
            background:
                  linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)),
                  url('{{ page.image.masthead }}'),
                  black;
      }
{% if jekyll.environment =="development" %}
      #navigation { border-top-color: green; }
{% endif %}
</style>
