---
sitemap:
    exclude: true
---
@charset "utf-8";

@import "../_sass/colors.settings";
@import "../_sass/settings";

$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-color:      $theme-orange;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    $row-width;

$on-palm:          600px;
$on-laptop:        800px;

// Debug mode
//* { box-shadow: inset 0 0 0 1px red; }

// Import partials
@import
"../_sass/mixins",
"../_sass/base",
"../_sass/layout",
"../_sass/foundation",
"../_sass/typography",
"../_sass/syntax-highlighting"
;