---
layout: default
---
<article class="post">
  <header class="post-header">
    <div class="masthead">
      <div class="gradient"></div>
      <div class="content-background" style="background-image: url('{{ page.masthead.image }}');"></div>
      <div class="description">
        <div class="container">

          <h1 class="post-title">{{ page.title }}</h1>

        </div>
      </div>
    </div>
  </header>

  <div class="post-content">
    <div class="wrapper">

      <p class="post-meta">
        <time class="timeago" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
        {% if page.categories %} •
          {% include categories.inline.html categories=page.categories %}
        {% endif %}
      </p>

      <div itemprop="articleSection">{{ content }}</div>

      {% if page.comments == true %}
        {% include comments.html %}
      {% endif %}
    </div>
  </div>
</article>